__pycache__
.idea
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.vscode
checkpoints_cyclegan
europarl/et-en.tgz
europarl/europarl-v7.et-en.en
europarl/europarl-v7.et-en.et
pretrained_cycle
samples_cyclegan
samples_cyclegan_no_cycle